* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.logo-topo {
  height: 4rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.logo {
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ba7c42;
  text-align: rightht;
  padding-right: 3em;
  padding-bottom: 0.1rem;
  padding-top: 1rem;
}

.main-header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-color: #5f7667;
  padding-bottom: 200px;
  margin-top: 0px;
  padding-top: 0px;
}

.slogans {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
}

.slogan1 {
  margin-top: -8rem;
  margin-left: 2rem;
}

.slogan2 {
  margin-top: -5rem;
  margin-left: 2rem;
}

.slogan3 {
  padding-top: -2rem;
  margin-left: 2rem;
}

.container {
  display: block;
  background-color: #5f7667;
  height: 3em;
  margin-top: 3rem;
}

.nav li {
  display: inline;
}

.nav ul {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  font-weight: 300;
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  color: #fff;
  padding-top: 1em;
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-content {
  margin: 5em;
}

.titulos {
  font-family: "Times New Roman", Times, serif;
  color: #5f7667;
  font-weight: 550;
  font-size: 2.5em;
  padding-top: 0.5em;
  pading-bottom: 1em;
}

.conteudo {
  color: #555;
  line-height: 2.6;
  padding-bottom: 2em;
}

.footer {
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-color: #5f7667;
  padding-bottom: 2rem;
}

footer-links li {
  display: inline-block;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: -2em;
}

.link {
  background-color: #5f7667;
  display: inline-block;
  margin-left: 5em;
  margin-right: 4em;
  margin-top: -3em;
}

.link img {
  height: 4rem;
  width: 4rem;
}

.footer-direitos {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 450;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  padding-top: 0.5rem;
}
